* {
    color: #334433;
    font-family: arial, helvetica, sans-serif;
    font-size:14px;
}

td {
    padding-right: 10px;
    text-align: right;
    color: #000000;
}


html,body {
    background-color: #F2F2F2;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#header {
    margin: 0px 0px 5px 0px;
    padding: 0px;
    height: 50px;
    margin-left:auto;
    margin-right:auto;
    width: 1000px;
    border: 1px solid #9bc09e;
    background-color: #edf3d9;
    display: block;
}

#header_left {
    float:left;
}

#logo {
    border:0px;
    width: 300px;
    height: 50px;
}

#header_center {
    margin-left: 50px;
    margin-top: 10px;
    float:left;
}

#header_right {
    margin-right: 20px;
    margin-top: 10px;
    float:right;
}
#header_right form {
    margin-right: 20px;
    float:right;
}
#loginscreen {
    margin-top: 0px;
    background-image: url('images/title1.png'); 
    width:1000px; 
    height:556px;
}
#firstview {
    color: black;
    padding-top: 30px;
    border: 2px dotted #334433; 
    width: 500px; 
    height: 260px; 
    margin-top: auto;
    margin-left: auto; 
    margin-right: auto;
    position: relative;
    background: rgba(240, 255, 185, .8);
    text-align: center;
   
}

.button_link{
    width: 80px;
    height: 15px;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #84b819;
    background-color: white;
    color: #444444;
}
.button_link:focus,.button_link:hover{
    width: 80px;
    height: 15px;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #84b819;
    background-color: #edf480;
    color: #000000;
}

#content {
    margin: 0px 0px 5px 0px;
    padding: 0px;
    margin-left:auto;
    margin-right:auto;
    width: 1000px;
    border: 1px solid #9bc09e;
    background-color: #edf3d9;
    text-align: center;
    display: block;
}
.cline {
    padding: 2px;
    margin-top: 2px;
    margin-left:auto;
    margin-bottom:3px;
    margin-right:auto;
    width: 99%;
    text-align: left;
    background-color: #ffffff;
}
.profileList .cline {
    background-color: #EDF3D9;
}
.messageList .cline {
    margin: 5px auto;
}
.shoutercell {
    background-color: #ffffff;
    clear: both;
    height: 66px;
    width: 450px;
    margin: 5px auto;
}
.shoutercell .shout_functions a {
    background-color: #ffffff;
    margin-left: 0;
}
.shoutercell .shout_functions a:hover {
    background-color: #ffffff;
    margin-left: 0;
}
.shoutercell .shout_name {
    width: 260px;
    margin-right: 2px;
}
.shout_img {
    border: 1px solid #84B819;
    float:left;
    margin:2px;
    height: 60px;
    width: 60px;
}
.shout_name .left {
    float: left;
    color: #334433;
}
.shout_name .right {
    float: right;
    color: #334433;
}
.shout_name .left a {
    color: #555555;
}
.shout_name {
    font-size: 12px;
    margin-top:2px;
    padding:2px;
    color: #555555;
    background-color: #fff8a3;
    height: 16px;
    width: 300px;
    float: right;
}
.shout_msg {
    padding: 5px;
    margin-left: 65px;
    color: black;
}
.shout_date {
    float: right;
    padding:2px;
    height: 10px;
    text-align: right;
    font-size: 10px;
}
.shout_functions {
    float:right;
}

.shout_functions a{
    width: 100px;
    height: 12px;
    padding: 2px;
    padding-left:5px;
    text-align: left;
    text-decoration: none;
    display: block;
    border-left: 10px solid #84b819;
    border-bottom: 1px solid #84b819;
    border-right: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    background-color: #edf3d9;
    color: #444444;
    margin-bottom:2px;
    margin-top:2px;
    margin-left: 10px;
    font-size: 11px;
}

.shout_functions a:hover{
    width: 100px;
    height: 12px;
    padding: 2px;
    padding-left:5px;
    text-align: left;
    text-decoration: none;
    display: block;
    border-left: 10px solid #9bc09e;
    border-bottom: 1px solid #9bc09e;
    border-right: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    background-color: #fff8a3;
    color: #000000;
    margin-bottom:2px;
    margin-top:2px;
    margin-left: 10px;
    font-size: 11px;
}

.imprint {
    width: 100%;
    text-align: left;
    margin-left:auto; 
    margin-right:auto;
}

.lagreement {
    width: 620px;
    text-align: left;
    margin-left:auto; 
    margin-right:auto;
}
#editAccount {
    margin: 0 auto;
    width: 610px;
    text-align: center;
    font-size: 20px;
    color: #334433;
}
#editAccount table td {
    text-align: right;
    color: #334433;
}
#editAccount table .td_center {
    text-align: center;
}
#editAccount h1{
    font-size: 35px;
}
#editAccount form input{
    padding: 5px;
    width: 300px;
    height: 30px;
    margin:10px;
    color:black;
}
#createAccount {
    margin: 0 auto;
    width: 495px;
    text-align: center;
    font-size: 20px;
    color: #334433;
}
#createAccount table td {
    text-align: right;
    color: #334433;
}
#createAccount table .td_center {
    text-align: center;
}
#createAccount h1{
    font-size: 35px;
}
#createAccount form input{
    padding: 5px;
    width: 300px;
    height: 30px;
    margin:10px;
    color:black;
}
#login {
    margin: 0 auto;
    width: 425px;
    text-align: center;
    font-size: 20px;
}
#login table td {
    text-align: right;
}
#login table .td_center {
    text-align: center;
}
#login h1{
    font-size: 35px;
}
#login form input{
    padding: 5px;
    width: 300px;
    height: 30px;
    margin:10px;
    color:black;
}

#login .button_link {
    text-align: center;
    margin-bottom:50px;
    margin-top: 25px;
    font-size: 20px;
    width: 180px;
    height: 25px;
    padding: 3px;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #84b819;
    background-color: white;
    color: #444444;
}
#login  .button_link:focus, #login .button_link:hover {
    margin-bottom:50px;
    margin-top: 25px;
    width: 180px;
    height: 25px;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #84b819;
    background-color: #edf480;
    color: #000000;
}
.users_prev {
    margin-left: 24px;
    border: 0px;
    margin-bottom: 5px;
    border-spacing:8px;
}

.users_prev td {
    border: 1px solid #84b819;
    width: 120px;
    padding: 2px;
    margin: 2px;
    overflow: hidden;
    color: #444444;
    background-color: #fff8a3;
}

#profile_img {
    width: 120px;
    height: 120px;
    float:left;
    border: 1px solid #84b819;
    margin: 10px;
}

#profile_data {
    margin-top: 10px;
    float:left;
    font-size: 16px;
}
#profile_data .username {
    font-size: 20px;
    font-weight: bold;
}
#profile_data .loginname {
    font-size: 16px;
}
#profile_data .label {
    color: #334433;
    text-align: right;
    font-size: 14px;
}
#profile_data .data {
    color: #334433;
    text-align: left;
    font-size: 16px;
}
#profile_functions {
    margin-top: 10px;
    margin-right: 10px;
    float:right;
}
#profile_functions a{
    width: 130px;
    height: 12px;
    padding: 3px;
    padding-left:5px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    border-left: 10px solid #84b819;
    border-bottom: 1px solid #84b819;
    border-right: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    background-color: #edf3d9;
    color: #444444;
    margin-bottom:2px;
    margin-top:2px;
}
#profile_functions a:hover, #profile_functions a:focus{
    width: 130px;
    height: 12px;
    padding: 3px;
    padding-left:5px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    border-left: 10px solid #9bc09e;
    border-bottom: 1px solid #9bc09e;
    background-color: #edf3d9;
    color: #000000;
    margin-bottom:2px;
    margin-top:2px;
}
#shoutbox {
    margin-top:0px;
    margin-left:20px;
    color: black;
    text-align: left;
}
#shoutbox h1{
    margin-left:-10px;
    font-size: 20px;
    color: #555555;
    text-align: left;
}

#shoutbox form input{
    margin-right:10px;
    margin-top: 5px;
    font-size: 13px;
    color: black;
    float:right;
}

#shoutbox textarea{
    width: 565px;
    height: 72px;
}
#cwrapper {
    display: block;
    height:700px;
    float: none;
}
#cleft {
    float:left;
    width: 60%;
    height:700px;
}

#cright {
    float:right;
    width: 39%;
    height:700px;
    overflow-y:scroll;
    overflow-x:hidden;
}
#footer {
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 140px;
    margin-left:auto;
    margin-right:auto;
    width: 1000px;
    border: 1px solid #9bc09e;
    background-color: #edf3d9;
    text-align: center;
    display: block;
}
.avatar_link {
    text-decoration: none;
    color: #555555;
}
.avatar_link:hover {
    text-decoration: none;
    color: #000000;
}
.paginator {
    height: 18px;
    margin: 10px 0;
}
.paginatorLink {
    font-size: 12px;
    text-decoration: none;
    border: 1px solid #84B819;
    padding: 3px;
    margin: 0px 2px;
    
}
#wipeData {
    text-align: center;
    margin: 0 auto;
    width: 500px;
}
#wipeData h1{
    font-size: 25px;
}
#wipeData form input{
    padding: 5px;
    width: 300px;
    height: 30px;
    margin:10px;
    color:black;
}
.t-error-icon {
    display: none;
}
